/* Mobile version ------------------------------------------------------------------------*/
*,
*::before
*::after {
    box-sizing: border-box;
}
.index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 35px 1fr 35px;
    weight: 100vh;
    height: 100vh;
    grid-template-areas:
    "header"
    "main-nav"
    "body"
     "footer"
}
.header {
    background-color: rgb(179, 126, 228);
}
.main-nav {
    background-color: rgb(238, 173, 127);
}
.body {
    background-color: rgb(20, 67, 148);
}
.footer {
    background-color: rgb(196, 123, 97);
}
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
.body {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 100px 50px;
    grid-template-areas: 
    "main-slideshow"
    "main-add"
    "main-partners"
}
.main-add {
    display: flex;
    flex-direction: row;
}

.main-add a {
    display: block;
}

.main-add img {
    display: block;
    width: 100%;
}

.add-1, .add-2 {
    display: block;
    width: 50%;
}
.footer {
    display: block;
}
/* Navigation */
ul.ul-menu {
    position: relative;
    list-style: none;
}
ul.ul-menu li {
    display: block;
    float: left;
    font-size: 16px;
    padding: 0 20px;
}
ul.ul-menu li a {
    color: #333333;
    text-decoration: none;
}
ul.ul-menu li a:hover {
    color: #000000;
}
/* 1st */
@media (min-width: 576px;){
    .index {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 180px 35px 1fr 1fr 35px;
        grid-template-areas: 
        "header header"
        "main-nav main-nav"
        "body   body"
        "body body"
        "footer footer"

    }
}
/*PC version*/
@media (min-width: 992px;){
    .index {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 180px 35px 1fr 1fr 50px;
        grid-template-areas: 
        "header header header"
        "main-nav main-nav main-nav"
        "body body body"
        "body body body"
        "footer footer"