/* Mobile version ------------------------------------------------------------------------*/
*,
*::before
*::after {
    box-sizing: border-box;
}
.index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 180px 35px 1fr 35px;
    weight: 100vh;
    height: 100vh;
}
.header {
    background-color: rgb(179, 126, 228);
}
.main-nav {
    background-color: rgb(238, 173, 127);
}
.body {
    background-color: rgb(13, 17, 24);
}
.footer {
    background-color: rgb(196, 123, 97);
}
.main-nav {
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.btn-1 {
    font-size: 10px;
}
.btn-2 {
    font-size: 10px;
}
.btn-3 {
    font-size: 10px;
}